/* Пример подключения локальных шрифтов */
/*
@font-face {
    font-family: "Cuprum";
    font-weight: 400;
    font-style: normal;
      src: url("../fonts/cuprum.woff2") format("woff2"), url("../fonts/cuprum.woff") format("woff");
  }
*/

/* CSS-переменные. Облегчают поддержку вёрстки в дальнейшем. 
Можно заранее прописать все цвета, все отступы и потом использовать только название переменных. 
*/
:root {
    --white: #ffffff;
    --black: #000000;
    --beige: #DDD0C3;
    --beige-1: #D6CCC2;
    --mustard: #A07B50;
    --bg-black: #181617;
    --bg-dark-brown: #1F1C1D;
    --text-30: rgba(0, 0, 0, 0.3);
    --border-brown: #544332;
}

/* Базовые стили */

body {
    margin: 0;
    padding: 0;
    min-width: 320px;
    min-height: 100vh;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 14px;
    line-height: 140%;
    font-weight: 300;
    font-style: normal;
    color: var(--white);
    background-color: var(--bg-dark-brown);
}

/* Чтобы в элементах форм использовался тот же шрифт, что и у основного текста */
input,
textarea,
select,
button {
    font: inherit;
}

/* Позволяет задавать размеры так, как они указаны в макете */
*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* Отключает подчёркивание ссылок по умолчанию. Наследует шрифт от страницы */
.link {
    text-decoration: none;
    color: inherit;
}

/* Сбрасывает у списков маргины, паддинги и буллиты */
.list {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Исключает выпадение изображений за границы родителя */
.img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

/* Класс для скрытия элементов, которые должны быть визуально скрыты, но их нельзя убирать со страницы */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* Для облегчения вёрстки (потом убрать). Добавляет тонкую серую границу элементам */

* {
    outline: 1px solid gray;
}

/* Сеточные стили. Примеры медиа-запросов для вёрстки mobile-first */

.container {
    min-width: 320px;
    margin: 0 auto;
    padding: 0 15px;
}

@media (min-width: 768px) {
    .container {
      padding: 0 30px;
    }
}

@media (min-width: 1920px) {
    .container {
      padding: 0 60px;
    }
}

/* Стили для хедера */

/* Стили для основного содержания */

/* promo */

.logo {
    display: flex;
    justify-content: center;
    padding-top: 27px;
    padding-bottom: 57px;
}

.promo ,
 .page{
    background-color: var(--black);
}

.promo__subtitle {
    padding-top: 79px;
    margin: 0;
    padding: 0;
    font-weight: 400;
    line-height: 150%;
    color: var(--mustard);
    text-align: center;
}

.promo__title {
    padding-top: 30px;
    padding-bottom: 29px;
    font-size: 36px;
    font-family: "Yeseva One";
    line-height: 42px;
    text-align: center;
    color: var(--white);
    font-weight: 400;

}

.promo__text {
    padding-bottom: 40px;
    font-family: "Roboto";
    line-height: 140%;
    text-align: center;
    color: var(--mustard);
}

.button {
    border: var(--mustard) 1px;
}

.pets {
    background-color: var(--bg-dark-brown);
}

.pets__title {
    padding-top: 60px;
    padding-bottom: 33px;
    font-size: 28px;
    line-height: 32px;
    font-family: "Yaseva One";
    font-weight: 400;
    text-align: center;
}

.pets__text {
    padding-bottom: 39px;
    font-family: "Roboto";
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: var(--mustard);
}












/* Стили для футера */

